/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos body globales*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(46, 3, 3);
  color: white;
}

header {
  background-color: rgb(255, 0, 0);
}

header {
  border-bottom: 3px solid rgb(241, 242, 248);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  list-style-type: none;
  padding: 20px;
}
header nav ul a {
  transition: all 150ms;
}
header nav ul a img {
  height: 45px;
}
header nav ul a:hover {
  transform: scale(1.3);
}

footer {
  background-color: rgb(255, 0, 0);
  height: 80px;
  border-top: 3px solid white;
  text-align: center;
  padding-top: 25px;
}
footer p {
  color: white;
}

.mainhome section .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 242, 248);
  margin-top: 20px;
  padding-bottom: 50px;
}
.mainhome section .info .zeppelinb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainhome section .info .zeppelinb img {
  height: 500px;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 30px;
}
.mainhome section .info .zeppelinb .text {
  flex-grow: 1;
}
.mainhome section .info .zeppelinb .text h1 {
  color: rgb(241, 242, 248);
  margin-top: 20px;
}
.mainhome section .info .zeppelinb .text p {
  color: rgb(241, 242, 248);
  margin-top: 20px;
  margin-right: 20px;
  border-top: 2px solid;
  padding: 20px;
  font-size: 15px;
  margin: 0px;
}

.bodyhome .mainnos h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
}
.bodyhome .mainnos p {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.bodyhome .mainnos section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.bodyhome .mainmenu {
  display: flex;
}
.bodyhome .mainmenu h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.mainrs {
  background-color: blanchedalmond;
  height: 763px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainrs h1 {
  text-decoration: none;
  color: #333;
}
.mainrs .instimg,
.mainrs .twittimg,
.mainrs .gitimg,
.mainrs .faceimg {
  height: 200px;
  margin: 10px;
}

.contenido-principal {
  padding: 20px;
  background-color: #f0f0f0;
}

.seccion1,
.seccion2 {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

p {
  color: #555;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
}

.text {
  font-size: 10vw;
  margin: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  border-bottom: 1px solid #2F2B28;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.text:hover {
  background-size: 100%;
}

section .lasMasVendidas {
  text-align: center;
  margin: 0 auto;
}
section .lasMasVendidas h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 30px;
  margin: 20px;
}
section .mainhome section .card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
section .mainhome section .card {
  width: 200px;
  text-align: center;
}
section .mainhome section .card img {
  width: 100%;
  background-color: rgb(183, 107, 40);
}
section .mainhome section .card p {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
section .mainhome section .card .card-body {
  background-color: rgb(255, 0, 0);
  width: 200px;
  display: flex;
  justify-content: space-around;
}
section .mainhome section .Info h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
section .bodyhome #buttonver {
  background-color: rgb(64, 24, 16);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 5px 45px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 10px;
}
section .bodyhome .boton {
  display: flex;
  justify-content: center;
  color: rgb(229, 59, 24);
  font-weight: 500;
  text-transform: uppercase;
}
section .bodyhome .Spoti {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .bodyhome .Spoti h1 {
  font-size: 50px;
  color: white;
  padding-left: 50px;
}
section .bot2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
section .bot2 button {
  background-color: rgb(64, 24, 16);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 10px;
}
section .bot2 h1 {
  font-size: 60px;
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgb(115, 70, 70);
  border-radius: 30px;
  height: 700px;
  width: 1500px;
}
.carrousel .carousel-inner {
  height: 600px;
  width: 1000px;
}
.carrousel .info img {
  height: 500px;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 30px;
}

.zeppelin-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.zeppelin-card {
  background-color: rgb(183, 107, 40);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 180px;
}
.zeppelin-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}
.zeppelin-card-text {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgb(255, 0, 0);
}
.zeppelin-card-text h5 {
  margin-bottom: 10px;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
header nav ul a img {
  height: 35px;
}
header nav ul a:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header nav ul a {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
.bodyhome {
  display: flex;
  flex-direction: column;
}

.mainhome section .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 242, 248);
  margin-top: 20px;
  padding-bottom: 50px;
}
.mainhome section .info .zeppelinb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainhome section .info .zeppelinb img {
  height: 500px;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 30px;
}
.mainhome section .info .zeppelinb .text {
  flex-grow: 1;
}
.mainhome section .info .zeppelinb .text h1 {
  color: rgb(241, 242, 248);
  margin-top: 20px;
}
.mainhome section .info .zeppelinb .text p {
  color: rgb(241, 242, 248);
  margin-top: 20px;
  margin-right: 20px;
  border-top: 2px solid;
  padding: 20px;
  font-size: 15px;
  margin: 0px;
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgb(115, 70, 70);
  border-radius: 30px;
  height: 700px;
  width: 1500px;
}
.carrousel .carousel-inner {
  height: 600px;
  width: 1000px;
}
.carrousel .info img {
  height: 500px;
  margin-right: 30px;
  border-radius: 20px;
  margin-left: 30px;
}
@media only screen and (max-width: 1024px) {
  .carrousel .carousel-inner {
    height: 500px;
    width: 800px;
  }
}
@media only screen and (max-width: 768px) {
  .carrousel {
    display: none;
  }
}

.mainrs {
  background-color: blanchedalmond;
  height: 763px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainrs h1 {
  text-decoration: none;
  color: #333;
}
.mainrs .instimg,
.mainrs .twittimg,
.mainrs .gitimg,
.mainrs .faceimg {
  height: 200px;
  margin: 10px;
}
@media only screen and (max-width: 1024px) {
  .mainrs {
    flex-direction: column;
    height: auto;
  }
  .mainrs .instimg,
  .mainrs .twittimg,
  .mainrs .gitimg,
  .mainrs .faceimg {
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
