.mainhome {
    section {
        .info{
            display: flex;
            flex-direction: column; 
            justify-content: space-between;
            align-items: center;
            color: $color-secundario ;
            margin-top: 20px;
            padding-bottom: 50px;
            .zeppelinb{
                display: flex;
                flex-direction: row; 
                justify-content: space-between;
                align-items: center;
                img{
                    height: 500px;  
                    margin-right: 30px;
                    border-radius: 20px;
                    margin-left: 30px; 
                }
                .text{
                    flex-grow: 1; 
                    h1{
                        color: $color-secundario;
                        margin-top: 20px;
                    }
                    p{
                        color: $color-secundario;
                        margin-top: 20px;
                        margin-right: 20px;
                        border-top: 2px solid;
                        padding: 20px;
                    }
                }
            }
        }
    }
}