.mainrs {
    background-color: blanchedalmond;
    height: 763px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    h1 {
      text-decoration: none;
      color: #333;
    }
  
    .instimg,
    .twittimg,
    .gitimg,
    .faceimg {
      height: 200px;
      margin: 10px;
    }
  }
  