.bodyhome {
    .mainnos {
      h1 {
        color: rgb(255, 255, 255);
        font-size: 50px;
      }
  
      p {
        color: rgb(255, 255, 255);
        font-size: 15px;
      }
  
      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
      }
    }
  }
  