.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgb(115, 70, 70);
    border-radius: 30px;
    height: 700px;
    width: 1500px;
  
    .carousel-inner {
      height: 600px;
      width: 1000px;
    }
  
    .info {
      img {
        height: 500px;
        margin-right: 30px;
        border-radius: 20px;
        margin-left: 30px;
      }
    }
  }
  