header {
  height: 100px;
  display: flex;
  justify-content: center;

  nav {
      display: flex;
      ul {
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          padding: 0;
          margin: 0;

          a {
              img {
                  height: 35px;
              }

              &:hover {
                  transform: scale(1.3);
              }
          }
      }
  }
}

  @media only screen and (max-width: 768px) {

  header {
          nav {
            ul {
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
        
        a {
          margin-bottom: 10px;
          margin-left: 10px;
        }
      }
    }
  }
}
  


.bodyhome {
  display: flex;
  flex-direction: column;
}



// media queries - NOSOTROS //
.mainhome {
  section {
      .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          color: $color-secundario;
          margin-top: 20px;
          padding-bottom: 50px;

          .zeppelinb {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              img {
                  height: 500px;
                  margin-right: 30px;
                  border-radius: 20px;
                  margin-left: 30px;
              }

              .text {
                  flex-grow: 1;

                  h1 {
                      color: $color-secundario;
                      margin-top: 20px;
                  }

                  p {
                      color: nth($list: $colores, $n: 2);
                      margin-top: 20px;
                      margin-right: 20px;
                      border-top: 2px solid;
                      padding: 20px;
                      font-size: 15px;
                      margin: 0px;
                  }
              }
          }
      }
  }
}

.carrousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: rgb(115, 70, 70);
  border-radius: 30px;
  height: 700px;
  width: 1500px;

  .carousel-inner {
      height: 600px;
      width: 1000px;
  }

  .info {
      img {
          height: 500px;
          margin-right: 30px;
          border-radius: 20px;
          margin-left: 30px;
      }
  }

  @media only screen and (max-width: 1024px) {
      .carousel-inner {
          height: 500px;
          width: 800px;
      }
  }

  @media only screen and (max-width: 768px) {
      display: none;
  }
}


  .mainrs {
    background-color: blanchedalmond;
    height: 763px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    h1 {
      text-decoration: none;
      color: #333;
    }
  
    .instimg,
    .twittimg,
    .gitimg,
    .faceimg {
      height: 200px;
      margin: 10px;
    }
  
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      height: auto;
  
      .instimg,
      .twittimg,
      .gitimg,
      .faceimg {
        height: 150px;
      }
    }
  }
  