header {
    @extend %estilos-base;
    // background-color: $color-primario;
    height: 80px;
    border-bottom: 3px solid $color-secundario;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    nav{
        ul{
            @include flex(row, space-around, center);
            // display: flex;
            // justify-content: space-around;
            // align-items: center;
            // flex-direction: row; 
            justify-items: center;
            list-style-type: none;
            padding: 20px;   
            a{
                transition:all 150ms;
    
                img{
                    height: 45px;
                }
            }
            a:hover {
                transform: scale(1.30);    
                 
            }
            
        }
    
    }
    }
